<div id="welcome_text">
	<p>Welcome to SuperChat!</p>
	<p>To save the universe please</p>
	<br>
	<p><span class="authorize"><%= link_to 'Log in', log_in_path %></span></p>
	<p>or</p>
	<p><p><span class="authorize"><%= link_to 'Sign up', sign_up_path %></span></p>
</div>
