<div id="private_message_body">

<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		
		<td><%= private_message.user.username %>:  </td>
		<td><%= private_message.body %></td>
		<td align="center">at <%= private_message.created_at %></td>
			
	</tr>
</table>
</div>